.not-found {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

p{
    margin: 2rem ;
    color: rgba(21, 19, 60, 0.5);
    font-weight: 400;
    font-size: 1rem;
    display: inline-block;
}